.goodProduct{
    padding: 18px 0;
    position: relative;
}
.food-infos{
    display: flex;
    align-items: center;
    img{
        display: block;
        margin-right: 10px;
    }
}
.food-content{
    .title{
        font-size: 14px;
        color: rgb(7, 17, 27);
    }
    .describtion,.sell{
        font: 10px;
        color: rgb(147, 153, 159);
    }
    .good-rating{
        margin-left: 12px;
    }
    .price{
        font-size: 14px;
    }
    .now-price{
        color:#f01414;
    }
    .old-price{
        color:#93999f;
        text-decoration: line-through;
        font-size: 10px;
        margin-left: 8px;
    }
}

.food-button{
    position: absolute;
    right: 0px;
    bottom: 18px;
   span{
       display: inline-block;
   }
    .icon{
        padding: 6px;
        font-size: 24px;
        color: #00a0dc;
    
    }
    .add-icon::before{
        content: "\E622";
    }
    .decreace-icon::before{
        content: "\E629";
    }
    .count{
        vertical-align: top;
        line-height: 36px;
    }
    .decreace-icon{
        position: relative;
        top: -2px;
    }
}
// 按钮点击过渡
.fade-leave-active,.fade-enter-active{
    transition: all .3s linear;
}

.fade-enter-to,.fade-leave{
    opacity: 1;
    transform: translateX(0);
}
.fade-enter,.fade-leave-to{
    opacity: 0;
    transform: translateX(20px);
}
